/*
.letter-space__no {
    letter-spacing: 0px;
}

.letter-space__2 {
    letter-spacing: 0.2px;
}

.letter-space__3 {
    letter-spacing: 2.6;
}

.letter-space__4 {
    letter-spacing: 0.4px;
}

.letter-space__6 {
    letter-spacing: 0.6px;
}

.letter-space__8 {
    letter-spacing: 0.8px;
}

.letter-space__0 {
    letter-spacing: -0.2;
}
*/ /*Для текста Об аукционе. В Фигме были отступы, но я их попробовала применить, не сильно повлияло на текст. Оставила на случай важных переговоров*/
