.header {
  box-sizing: border-box;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 1052px;
  height: 105px;
  margin: 92px 24px;
  padding: 0px 26px;
}

.flex__wrap-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.header__menu {
  width: 391px;
  height: 22px;
  margin-right: 36px;
}

.header__links-list {
  align-content: center;
  justify-content: space-between;
  list-style-type: circle;
  font-size: 18px;
  font-weight: 400;
}

.style_1 {
  font-style: normal;
  line-height: normal;
}

.header__links-list-item_no-bulit {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  column-gap: 189px;
  padding-bottom: 3px;
}

.logo__img-black {
  width: 148px;
  height: 105px;
}

.contact {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  row-gap: 2px;
  top: 4px;
  right: 2px;
}

.contact__line {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.address {
  text-decoration: none;
  font-style: normal;
}

.cover {
  height: 757px;
  position: relative;
  background-image: url("../images/lotus-flower.png");
}

.overlay {
  z-index: 0;
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  position: relative;
  top: 167px;
  left: 50px;
}

.aligned-text_center {
  position: relative;
  top: 293px;
  right: 64px;
}

.aligned-text_right {
  position: relative;
  top: 298px;
  left: 634px;
}

.big__space {
  letter-spacing: 60px;
}

.small__space {
  letter-spacing: 30px;
}

.v {
  letter-spacing: 24.2px;
}

.cover__description-text {
  position: absolute;
  inset: 667px 385px 62px 78px;
  justify-content: center;
  word-spacing: 18.4px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.bet_button {
  position: absolute;
  inset: 655px 50px 51px 794px;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.lots {
  width: 1052px;
  height: 692px;
  position: relative;
  inset: 179px 24px 146px 24px;
}

.lots__card-list {
  position: relative;
  padding-top: 27px;
  column-gap: 25px;
  list-style-type: none;
}

.lots__heading {
  width: 121px;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
  padding-bottom: 27px;
}

/*.lots__card-list-item {  
  position: relative;
  width: 334px; 
  height: 563px;
  flex-shrink: 0;
  flex-grow: 1;
}*/

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  flex-grow: 1;
}

.card__type-film {
  background: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

.card__type-book {
  background: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

.card__type-picture {
  background: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center;
}

.lots__look-more-link {
  position: relative;
  inset: 32px 0 0 39px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px #000 solid;
}

.card-link {
  display: block;
  text-decoration: none;
  min-height: 100%;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card {
  position: absolute;
  inset: 51px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.about {
  width: 1052px;
  height: 595px;
  position: relative;
  inset: 327px 24px 181px 24px;
  justify-content: flex-end;
  align-content: flex-end;
}

.about__logo {
  background: #000;
  border-radius: 50%;
  position: absolute;
  inset: 33px 47px;
  height: 240px;
  width: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  position: relative;
  inset: 64px 46px;
}

.about__collumn {
  width: 693px;
  height: 449px;
  position: absolute;
  inset: 133px 0 13px 359px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about__text-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-bottom: 24px;
}

.about__text-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  position: relative;
  top: 500px;
  justify-items: center;
  justify-content:center;
  column-gap: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style-type: none;
  font-size: 18px;
  position: relative;
  inset: 10px 20px;
}

.footer__social {
  display: flex;
  column-gap: 48px;
  position: relative;
  top: 7px;
}

.sotial__link-icon {
  width: 48px;
  height: 48px;
}
